#container {

    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    'hd hd hd hd'
    'na na na na'
    'mn mn mn mn'
    'ft ft ft ft'

}

body {
    margin: 0px;
}

header {
    grid-area: hd;
    background-color: orange;
    
}

nav {
    grid-area: na;

}

.navbar {
    overflow: hidden;
    background-color: darkgray;
}


.navbar a {
    float: left; 
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-docoration: none;
}

.subnav {
    float: left;
    overflow: hidden;
}

/* .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: lightblue;
    width: 100%;
    z-index: 1;
}

.subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
}

.subnav-content a:hover {
    background-color: #eee;
    color: black;
}

.subnav:hover .subnav-content {
    display:block;
}

*/



main {
    grid-area: mn;
    background-color: pink;

}

footer {
    grid-area: ft;
    background-color: lightgreen;
}