* {
    margin: 0;
    padding: 0;
}

#container {

    display: grid;
    height: 200vh;
    width: 100vw;
    grid-template-areas: 
    'na na na na'
    'mn mn mn mn'
    'ft ft ft ft'

}

body {
    margin: 0px;
}


/*NAVIGATION*/

nav {
    grid-area: na;
    width: 100%;
    height: 60px;
    background-color: black;

    /* nav ligger över bilderna */
    position: relative;
    z-index: 100;
}


nav a {
    color: #f5f5f5;
}


.fancy-link {
    position: relative;
}

.fancy-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
}

.fancy-link:hover::after {
    transform: scaleX(1);
}


nav img {
    float: left;
    padding: 5px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color:black;
    padding: 0px;
}


nav ul li:hover ul {
    display: block;
}



nav ul li ul li{
    width: 180px;
}

nav ul li ul li a {
    padding: 8px 14px;
}


nav ul li ul li a:hover {
    background-color: #181818;  
}

.sokruta  {
    position: absolute;
    top: 30%;
    right: 20%;
    background: white;
    height: 5px;
    width: 250px;
    border-radius: 40px;
    padding: 10px;

}

.sok-text {
    position: absolute;
    top: 20%;
    border: none;
    background: none;
    outline: none;
    padding: -5px;
    float: right;
    color: black;
    font-size: 13px;
    width: 200px;
}

/*
.sokimg {
    position: relative;
    height: 15px;

    background-color: red;
    float: right;
}
*/



/*MAIN*/


main {
    grid-area: mn;
    background-color: pink;
    height: 125vh;


}

main div div img {
    height: 360px;
    width: 640px;
}

#slider figure {
    position: relative;
    width: 250%;
    margin: 0;
    left: 0;
    animation: 15s slider infinite;

}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: -10;
    }
    25% {
        left: -30%;
    }
    45% {
        left: -50%;
    }
    50% {
        left: -70%;
    }
    70% {
        left: -90%;
    }
    75% {
        left: -110%;
    }
    85% {
        left: -130%;
    }
    100%{
        left: -150%;
    }

}


/*FOOTER*/



footer {
    grid-area: ft;
    background-color: #323233;
    color: rgb(231, 231, 231);
    height: 50vh;
    width: 100vw;

}

footer ul li {
    list-style: none;
    
}

footer a {
    color: #B4B4B4;
    text-decoration: none;
}




.column {
    float: left;
    width: 25%;

}

.row:after {
    content: "";
    display: table;
    clear: both;
}



/*INNER FOOTER*/

#innerFooter {
    background-color: #111111;
    color: white;
    height:25vh;
    width: 100vw;
}

#innerFooter img {
    height: 100px;
    width: 300px;
}


/*
#facebookimg {
    position: relative;
    background-color: blue;
    height: 24px;
    width: 24px;

}

#youtubeimg {
    position: relative;
    background-color: red;
    height: 50px;
    width: 50px;
}

*/



#innerFooter .sokruta2  {
    position: relative;
    top: -10%;
    left: 60%;
    background: white;
    height: 15px;
    width: 300px;
    border-radius: 40px;
    padding: 10px;

}

#innerFooter .sok-text2 {
    position: absolute;
    bottom: 10px;
    border: none;
    background: none;
    outline: none;
    padding: -5px;
    float: right;
    color: black;
    font-size: 16px;
    width: 200px;
}