* {
    margin: 0;
    padding: 0;
}

#container {

    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    'na na na na'
    'mn mn mn mn'
    'ft ft ft ft'

}

body {
    margin: 0px;
}


nav {
    grid-area: na;
    width: 100%;
    height: 60px;
    background-color: black;

    /* nav ligger över bilderna */
    position: relative;
    z-index: 100;
}


nav a {
    color: #f5f5f5;
}


.fancy-link {
    position: relative;
}

.fancy-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
}

.fancy-link:hover::after {
    transform: scaleX(1);
}


/*
.navbg:hover {
    background-color: #181818;  
}
*/


nav img {
    float: left;
    padding: 5px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color:black;
    padding: 0px;
}


nav ul li:hover ul {
    display: block;
}



nav ul li ul li{
    width: 180px;
}

nav ul li ul li a {
    padding: 8px 14px;
}


nav ul li ul li a:hover {
    background-color: #181818;  
}






main {
    grid-area: mn;
    background-color: pink;
    height: 80vh;


}

main div div img {
    height: 360px;
    width: 640px;
}

/*

main .slide-container {
    width: 640px;
    height: 360px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}

main .image-container {
    width: 3200px;
    height: 360px;
    position: relative;
    transition: left 2s;
}

main .slider-image {
    float: left;
    margin: 0px;
    padding: 0px;
}

main .button-container {
    top: -20px;
    position: relative;
}

main .slider.button {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

#slider-image-1:target ~ .image-container {
    left: 0px;
}
#slider-image-2:target ~ .image-container {
    left: -640px;
}
#slider-image-3:target ~ .image-container {
    left: -1280px;
}
#slider-image-4:target ~ .image-container {
    left: -1920px;
}
#slider-image-5:target ~ .image-container {
    left: -2560px;
}


*/



#slider {
    overflow: hidden;

}

#slider figure {
    position: relative;
    width: 250%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;

}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: -10;
    }
    25% {
        left: -30%;
    }
    45% {
        left: -50%;
    }
    50% {
        left: -70%;
    }
    70% {
        left: -90%;
    }
    75% {
        left: -110%;
    }
    85% {
        left: -130%;
    }
    100%{
        left: -150%;
    }

}




footer {
    grid-area: ft;
    background-color: lightgreen;
    height: 20vh;

}