* {
    margin: 0px;
}

#container {

    display: grid;
    width: 50vw;
    grid-template-areas: 
    'hd hd hd hd'
    'na na na na'
    'mn mn mn mn'
    'ft ft ft ft'

}

/*ALL HEIGHTS*/

header {
    grid-area: hd;
    background-color: rgb(0, 0, 0);
    height: 10vh;
}

nav {
    grid-area: na;
    background-color: rgb(214, 57, 36);
    height: 5vh;
    position: relative;
    display: block;
}

main {
    grid-area: mn;
    background-color: rgb(29, 172, 0);
    height: 155vh;
}

footer {
    grid-area: ft;
    background-color: yellow;
    height: 30vh;
}


/*HEADER*/

header img {
    /*height: 80px;
    width: 240px;*/
    height: 55px;
    width: 170px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*NAVIGATION*/

#menu {
    margin-left: auto;
    position: absolute;
    left: 5%;
    height: 35px;
    width: 35px;
}

#search {
    position: absolute;
    right: 20%;
    height: 35px;
    width: 35px;
}

#shop {
    position: absolute;
    right: 5%;
    height: 35px;
    width: 35px;
}


/*MAIN*/



#callofduty {
    position: relative;
    width: 50vw; /*349px;*/
    /*height: 196px;*/
    padding: 4px 0 0 0;
}

#redrem {
    position: relative;
    width: 50vw;
}

#borderlands {
    position: relative;
    width: 50vw; 
}

#nba2k20 {
    position: relative;
    width: 50vw;
}

#ac {
    position: relative;
    width: 50vw;
}

#mgames {
    background-color: white;
    border: 2px solid grey;
    width: 150px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}



/*FOOTER*/


.column ul {
    display:block;
}


