* {
    margin: 0px;
}

#container {

    display: grid;
    width: 100vw;
    grid-template-areas: 
    'hd hd hd hd'
    'na na na na'
    'mn mn mn mn'
    'ft ft ft ft'

}

/*ALL HEIGHTS*/

header {
    grid-area: hd;
    background-color: rgb(0, 0, 0);
    height: 10vh;
}

nav {
    grid-area: na;
    background-color: rgb(214, 57, 36);
    height: 5vh;
    position: relative;
    display: block;
}

main {
    grid-area: mn;
    background-color: rgb(0, 0, 0);
    height: 175vh;
}

footer {
    grid-area: ft;
    background-color: rgb(0,0,0);
    height: 40vh;
}


/*HEADER*/

header img {
    /*height: 80px;
    width: 240px;*/
    height: 55px;
    width: 170px;
    padding: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

/*NAVIGATION*/

#menu {
    margin-left: auto;
    position: absolute;
    left: 5%;
    height: 35px;
    width: 35px;
}

.desktopnav {
    display: block;
}

#search {
    position: absolute;
    right: 20%;
    height: 35px;
    width: 35px;
}

#shop {
    position: absolute;
    right: 5%;
    height: 35px;
    width: 35px;
}


/*MAIN*/



#callofduty {
    position: relative;
    width: 100%; /*349px;*/
    /*height: 196px;*/
    padding: 4px 0 0 0;
}

#redrem {
    position: relative;
    width: 100%;
}

#borderlands {
    position: relative;
    width: 100%; 
}

#nba2k20 {
    position: relative;
    width: 100%;
}

#ac {
    position: relative;
    width: 100%;
    padding: 0 0 25px 0;
}

#mgames {
    background-color: rgb(214, 57, 36);
    border: 1px solid white;
    height: 30px;
    width: 150px;
    color: white;
    text-align-last: center;
    margin-left: auto;
    margin-right: auto;
}


/*FOOTER*/

footer ul li {
    line-height: 50px;
    padding: 0 20px;
    background-color: rgb(0, 0, 0);
    border: 0.5px solid rgb(31, 31, 31);
    list-style-type: none;
    display: block;
}


.dropbtn {
    color: white;
}

ul li:active ul {
    display: block;
    background-color: rgb(40, 40, 40);
}

a {
    color: white;
    text-decoration: none;
}

ul li ul { /*göm den inre listan*/
    display: none;
}

ul li:hover ul { /*visa den inre listan*/
    display: inline-block;
}

/*https://www.w3schools.com/css/css_dropdowns.asp*/

ul li:hover{
    color: white;
    background: rgb(50, 50, 50);
}

} /*MEDIA*/








@media screen and (max-width: 1000px) {

    /*NAVIGATION*/
 /* gör om till vanlig navigation*/

#menu {
    display: block;
}

.desktopnav {
    display: none;
}

nav {
    grid-area: na;
    width: 100%;
    height: 60px;
    background-color: rgb(214, 57, 36);
    /* nav ligger över bilderna */
    position: relative;
    z-index: 100;
}


nav a {
    color: #f5f5f5;
}


.fancy-link {
    position: relative;
}

.fancy-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: currentColor;
    transform: scaleX(0);
}

.fancy-link:hover::after {
    transform: scaleX(1);
}


nav img {
    float: left;
    padding: 5px 20px;
}

nav ul {
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    display: block;
    font-family: arial;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;

}

nav ul li ul {
    display: none;
    position: absolute;
    background-color:black;
    padding: 0px;
}


nav ul li:hover ul {
    display: block;
}



nav ul li ul li{
    width: 180px;
}

nav ul li ul li a {
    padding: 8px 14px;
}


nav ul li ul li a:hover {
    background-color: #181818;  
}

#search {
    position: absolute;
    padding: 12px;
    right: 10%;
    height: 35px;
    width: 35px;
}

#shop {
    padding: 12px;
    position: absolute;
    right: 3%;
    height: 35px;
    width: 35px;
}


}
